# ==========================================
# WEBKITA AI
# Git Ignore
# ==========================================

# ------------------------------------------
# Python Cache
# ------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------------------
# Virtual Environment
# ------------------------------------------
venv/
env/
ENV/
.venv/

# ------------------------------------------
# Environment Variable
# ------------------------------------------
.env
.env.*

# ------------------------------------------
# IDE / Editor
# ------------------------------------------
.vscode/
.idea/

# ------------------------------------------
# Operating System
# ------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------
# Python Build
# ------------------------------------------
build/
dist/
*.egg-info/

# ------------------------------------------
# Log Files
# ------------------------------------------
*.log

# ------------------------------------------
# Temporary Files
# ------------------------------------------
*.tmp
*.temp

# ------------------------------------------
# Testing
# ------------------------------------------
.pytest_cache/
.coverage
htmlcov/

# ------------------------------------------
# Jupyter Notebook
# ------------------------------------------
.ipynb_checkpoints/